<% content_for :header do %>
  <h1>Add Contact</h1>
<% end %>

<% content_for :nav do %>
  <ul class="no-padding nav">
    <li class="tile menu-button bold float-left">
      <a class="button-pad" href="/contacts">Go back</a>
    </li>
  </ul>
<% end %>

<form method="post" action="/contacts/add" enctype="multipart/form-data">
  <input class="text-align-center" name="nick_name" placeholder="Nick Name" value="<%= @nick_name %>" type="text">
  <input class="text-align-center" name="full_name" placeholder="Full Name" value="<%= @full_name %>" type="text">
  <input class="text-align-center" name="email" placeholder="Email" value="<%= @email %>" type="text">
  <input class="text-align-center" name="phone" placeholder="Phone" value="<%= @phone %>" type="text">
  <input class="text-align-center" name="address" placeholder="Address" value="<%= @address %>" type="text">
  <span class="tag">Upload a contact image</span>
  <input type="file" accept="image/*" class="button tile-padding" name="picture" placeholder="Upload image">
  <button class="tile tile-pad bold">submit</button>
</form>