<% content_for :header do %>
  <h1><%= @nick_name %></h1>
<% end %>

<% content_for :nav do %>
  <ul class="no-padding nav">
    <li class="tile menu-button bold float-left">
      <a class="button-pad" href="/contacts/<%= @id %>">Go Back</a>
    </li>
    <li class="tile menu-button bold float-right">
      <a class="button-pad" href="/logout">Log out</a>
    </li>
  </ul>
<% end %>

<form method="post" action="/contacts/edit/<%= @id %>">
  <span class="tag">Nick Name</span>
  <input class="text-align-center" name="nick_name" value="<%= @contact.nick_name %>">
  <span class="tag">Full Name</span>
  <input class="text-align-center" name="full_name" value="<%= @contact.full_name %>">
  <span class="tag">Phone</span>
  <input class="text-align-center" name="phone" value="<%= @contact.phone %>">
  <span class="tag">Email</span>
  <input class="text-align-center" name="email" value="<%= @contact.email %>">
  <span class="tag">Address</span>
  <input class="text-align-center" name="address" value="<%= @contact.address %>">
  <button class="tile tile-pad bold">submit</button>
</form>