<html>
<head>
  <title>Your Contacts</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
  <div class="header">
    <%== yield_content :header %>
  </div>

  <div class="primary-content">
    <% if session[:success] %>
      <p class="message success"><%= session.delete(:success) %></p>
    <% end %>

    <% if session[:error] %>
      <p class="message error"><%= session.delete(:error) %></p>
    <% end %>

    <div class="nav">
      <%== yield_content :nav %>
    </div>

    <%== yield %>
  </div>
</body>
</html>